body {word-wrap: break-word;}

/*Section Header*/

.index-background {
    background-color: $myyellow;
}

.index-img {
    width: 139px;
    margin-top: 20px;
}

.index-header {
    text-align: center;
}

@media only screen and (min-width:37px) {
    
    .index-header {
        margin-top: 140px;
        line-height: 6px;
}
}

@media only screen and (min-width:337px) {
    
    .index-header {
        margin-top: 177px;
        line-height: 6px;
}
}

@media only screen and (min-width:725px) {
    
    .index-header {
        margin-top: 133px;
        line-height: 0;
}
    .index-img {
        width: 158px;
        margin-top: 21px;
}
}



/*Section CV*/

.sect-CV {
    margin-top: 250px;
    background-color: white;
    padding-top: 50px;
    padding-bottom: 100px;
    -webkit-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.32);
    -moz-box-shadow:    0px 0px 11px 0px rgba(50, 50, 50, 0.32);
    box-shadow:         0px 0px 11px 0px rgba(50, 50, 50, 0.32);
}

.header-CV {
    text-align: center;
}

.icons-cv-container {
    text-align: center;
    margin-top: 52px;
}

.icon-CV-wrapper {
    display: inline-block;
    margin: 15px;
}

.icon-CV {
    width: 110px;
}

.text-CV-container {
    margin: 0 auto;
    max-width: 570px;
}

.text-CV-presentation, .text-CV-description {margin:20px 25px;}

.icons-social-container {
 text-align: center;
}

.icon-social {
    width: 35px;
    height: 35px;
    display: inline-block;
    margin: 5px;
    background-repeat: no-repeat;
    background-size: contain;
}

.fb {background-image: url(../img/icon-fb-inactive.svg);}
.tw {background-image: url(../img/icon-tw-inactive.svg);}
.in {background-image: url(../img/icon-in-inactive.svg);}
.be {background-image: url(../img/icon-be-inactive.svg);}

@media only screen and (min-width:375px) {
    
    .icons-cv-container {
        width: 300px;
        margin: 0 auto;
    }
    .cv-hr {
        margin-bottom: 50px;
    }
    .text-CV-presentation, .text-CV-description {
        margin:20px 50px;
    }
}

@media only screen and (min-width:650px) {
    
    .sect-CV {
        padding-top: 150px;
        padding-bottom: 150px;
    }
    
    .text-CV-container {
        height: 140px;
    }
    .text-CV-presentation, .text-CV-description {
        max-width: 260px;
        margin: 10px;
        float: left;
    }
    .text-CV-presentation {
        text-align: right;
    }
    .icons-social-container{
        float: left;
        margin-top: -60px;
        margin-left: 75px;
    }
    
    .icon-social {
        transition-property: background, border-radius;
  transition-duration: .2s, 1s;
  transition-timing-function: linear, ease-in;
  transition-delay: 0s, 1s;
    }
    .fb:hover {background-image: url(../img/icon-fb-active.svg);}
    .tw:hover {background-image: url(../img/icon-tw-active.svg);}
    .in:hover {background-image: url(../img/icon-in-active.svg);}
    .be:hover {background-image: url(../img/icon-be-active.svg);}

}

@media only screen and (min-width:760px) {
    .icons-cv-container {
        width: 100%;
    }
}


/*Section Education and Experience*/

.sec-edu-exp {
    margin: 60px 25px;
   
}

.subsection-hr {
    width: 80px;
    margin-left: 0px;
    margin-top: -13px;
}

.subsection-title {
    margin-left: 10px;
}

.subsection-ul {margin-top: 55px;}

.subsection-li {line-height: 5px; margin-top: 50px;}

@media only screen and (min-width:375px) {
    .sec-edu-exp {
        margin-left: 50px;
    }
}

@media only screen and (min-width:500px){
   
    .edu-exp-container {
        width: 50%;
        float: left;
        border-top-right-radius: 10px;
    }
    
    .sec-edu-exp {
        float: right;
        margin-right: 20px;
        margin-top: 30px;
        margin-bottom: 0px;
        width: 300px;
    }
    
    .sec-lang-container {
        padding-left: 5%;
    }
    
    .sec-lang {
        float: right;
        width: 50%;
        margin-top: -30px;
    }
    
    .langs-container {
        padding-top: 50px;
        width: 200px;
    }
}

@media only screen and (min-width:1500px) {
    .sec-edu-exp {
        margin-right: 50px;
    }
}


/*Section Languaje*/

.sec-lang {
    background-color: white;
    padding-bottom: 80%;
    max-height: 600px;
   -webkit-box-shadow: 3px 3px 2px 0px rgba(50, 50, 50, 0.22);
-moz-box-shadow:    3px 3px 2px 0px rgba(50, 50, 50, 0.22);
box-shadow:         3px 3px 2px 0px rgba(50, 50, 50, 0.22);
    
}

.sec-lang-container {
    margin: 25px;
    padding-top: 60px;
}

.langs-container {
    text-align: center;
    margin-top: 50px;
    line-height: 80px;
}

@media only screen and (min-width:375px) {
    .sec-lang-container{
        margin: 0px 40px;
    }
    
    .langs-container {
        margin-left: 0px;
    }
}
@media only screen and (min-width:527px) {
    .sec-lang {
        padding-bottom: 400px;
        border-bottom-left-radius: 10px;
    }
    .lang-circle {
        width: 220px;
        margin-top: 10px;
}
    .langs-container {
    text-align: center;
    margin-top: -10px;
    line-height: 80px;
}
}


/*Section Software*/

.sec-soft {
    background-color: $myyellow;
    padding: 100px 0px 125px 0px;
    margin-top: 8px;
    margin-bottom: 8px;
    float: left;
    width: 100%;
    text-align: center;
    color: $myblack;
}

.subsection-hr-soft {
    width: 90px;
    margin-top: -13px;
    margin-bottom: 20px;
    border: 1px $myblack solid;
}


/*Section Portfolio*/

.sec-portfolio {
    background-color: white;
    float: left;
    padding-top: 50px;
    width: 100%;
    text-align: center;
    -webkit-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.32);
    -moz-box-shadow:    0px 0px 11px 0px rgba(50, 50, 50, 0.32);
    box-shadow:         0px 0px 11px 0px rgba(50, 50, 50, 0.32);
}

.port-mods-container {
margin: 5%;
}

.port-mod {

    border: 1px solid #F2F2F2;
    border-radius: 5px;
    width: 300px;
    padding-bottom: 35px;
    background-color: white;
    margin-bottom: 20px;
    display: inline-block;
    margin-right: 10px;
    box-shadow: $myshadow;
    transition: all 0.3s ease 0s;
    
}

.port-mod:hover {
    background-color: $myyellow;
    border: 1px solid $myyellow;
}

.port-img-min {
    height: 200px;
    width: 300px;
    background-color: $myyellow;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin: 0 auto;
}

.port-btn-seemore {
    margin: 0px 0px 80px;
    padding: 10px 40px;
}

.port-btn-seemore:before {
    content: "Ver más";
}

.port-btn-seemore:focus:before {
    content: "Ver menos";
}


@media only screen and (max-width:500px) {
    
    .port-mod {margin-right: 0px;}
    .port-mods-container {margin: 0px;}
    
}


/*Section Footer*/
.main-footer{
    background-color: $myyellow;
    color: $myblack;
    bottom: 0px;
    padding: 115px 0px;
    width: 100%;
    float: left;
    text-align: center;
    -webkit-box-shadow: inset 0px 3px 2px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow:    inset 0px 3px 2px 0px rgba(50, 50, 50, 0.3);
    box-shadow:         inset 0px 3px 2px 0px rgba(50, 50, 50, 0.3);
}
