/* General */

body {
    font-family: open sans, sans-serif;
    color: #1E100D;
}

h1,h2,h3 {
    font-family: overlock, sans-serif;
}

h1{
    font-weight: 900;
    font-size: 35px;
}

h2 {
    font-weight: 800;
    font-size: 28px;
}

h3 {
    font-weight: 900;
    font-size: 23px;  
}

h4 {
    font-weight: 600;
    font-size: 18px;  
}

h5 {
    font-weight: 600;
    font-size: 17px;  
}

h6 {
    font-weight: 600;
    font-size: 16px;  
}

p {
    font-family: open sans, sans-serif;
    font-weight: 100;
    font-size: 15px;
}



/* SG Styles */

.SG-Subtitle {
    margin: 10px 0px 30px;
}

.SG-Logo-knob-cabecera {
    width: 90px;
    padding: 14px;
}

.SG-title {
    margin-bottom: auto;
    
}

.SG-li-nav {
    display: inline-block;
}

.SG-ul-nav {
    text-align: center;
    list-style-type: none;
    line-height: 30px;
    margin-right: 39px;
}

.SG-Cabecera {
    float: right;
    margin-right: 15px;
}

.SG-nav {
    position: fixed;
    background-color: white;
    bottom: 0;
    width: 100%;
    -webkit-box-shadow: 0px -1px 3px 0px rgba(235,235,235,1);
    -moz-box-shadow: 0px -1px 3px 0px rgba(235,235,235,1);
    box-shadow: 0px -1px 3px 0px rgba(235,235,235,1);  
}

.SG-buttons {
    display: inline-block;
    margin: 5px;
}

.SG-patch-reverse {
    -webkit-box-shadow: inset -1px 1px 5px -1px rgba(240,205,31,1);
-moz-box-shadow: inset -1px 1px 5px -1px rgba(240,205,31,1);
box-shadow: inset -1px 1px 5px -1px rgba(240,205,31,1);
    padding:8px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: gainsboro;
    display: inline-block;
    margin: 0px 0px 10px;
    background-color: #FFE120;
}

.SG-patch-social {
    width: 50px;
    display: inline-block;
    margin-right: 6px;
}

.SG-header-text {
    text-align: center;
    padding: 0px 10px 30px 10px;
}


/*fixed nav*/

.nav_wrapper {
    background-color: white;
    width: 80%;
    max-width: 860px;
    padding: 20px;
    border-radius: 35px;
    border: 1px #F2F2F2 solid;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: fixed;
    line-height: 20px;
    -webkit-box-shadow: 0px 2px 2px     0px rgba(204,204,204,1);
    -moz-box-shadow: 0px 2px 2px        0px rgba(204,204,204,1);
    box-shadow: 0px 2px 2px 0px         rgba(204,204,204,1);
}

.logo_nav {
    width: 90px;
}

.nav_links_wapper {
    float: right;
    margin: 10px;
    word-spacing: 20px;
}


/* Styles */

mark {
    color: #382E00;
    background-color: #FFE500;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.button {
    font-family: open sans, serif;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    background-color: white;
    border: 1px #1E100D solid;
    letter-spacing: 1px;
}

.button:hover {
    background-color: #FFE120;
    border-color: ##1E100D;
    border-style: solid;
    

}

.headertop {
    background-color: #FFE120;
}

.banner-imago {
    margin-top: 40px
}

.nav-link {
    color: #1E100D; 
    font-weight: 600;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.nav-link:hover {
    background-color: #FFE120;
}

.article-general {
    text-align: left;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 60px;
    line-height: 20px;
}

.circle {
    width: 200px;
}

.section-colors {
    margin-top: 40px;
    text-align: center;
}

.shown-color {
    width: 200px;
    text-align: center;
    margin-bottom: 10px;
    display: inline-block;
}

.input {
    border-radius: 5px;
    padding: 14px;
    font-family: open sans, sans-serif;
    font-size: 14px;
    background-color: white;
    border-color: #1E100D;
    border-width: 0.10em;
    border-style: solid;
    letter-spacing: 2px;
    display:inline-block;
}

.input:hover {
     background-color: #FFE120;
    border-color: #FFC800;
    


}

.icono-cabecer-portfolio {
    width: 70px;
    display: inline-block;
    margin-right: 3%;
}

.parragraph-color-container {
    margin-top: 40px;
    text-align: left;
}

.text-colors {
    margin: 0px;
}

.disabled {
    border-color: gainsboro;
    color: gainsboro;
    font-family: open sans, serif;
    border-radius: 5px;
    border-style: solid;
    padding: 15px 20px;
    font-size: 16px;
    background-color: white;
    border-width: 1px;
    letter-spacing: 1px;
}

.button-seeproyect:hover {
     background-color: #FFE120;
    border-color: #FFC800;
    

}

.link {
    text-decoration:underline;
    font-weight: 100;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 4px;
    color: #382E00;
    font-style:italic;
}

.link:hover {
 text-decoration:none;  
background-color: #FFE120
}

.secction-button {
    word-spacing: 16px;
    text-align: center;
}

blockquote {
    margin: 0;
    font-style: italic;
}

dt {
    font-size: 15px;
    font-weight: 600;
}

.filet {
    border-bottom: 0.10em;
    border-bottom-color: #1E100D;
    border-bottom-style: dotted;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 60px;
}

.icons {
    text-align: center;
}

a {
    text-decoration: none;
}

.logo-and-call-container {
    background-color: white;
    padding: 10px 5px 10px;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(235,235,235,1);
    -moz-box-shadow: 0px 1px 3px 0px rgba(235,235,235,1);
    box-shadow: 0px 1px 3px 0px rgba(235,235,235,1);
}


.SG-patch {
    padding:40px;
    width: 63%;
    max-width: 160px;
    display: inline-block;
    margin: 5px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: gainsboro;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(224,224,224,1);
    -moz-box-shadow: 0px 2px 2px 0px     rgba(224,224,224,1);
    box-shadow: 0px 2px 2px 0px           rgba(224,224,224,1);
}

s {
    color:lightgray;
}

dd {
    margin-left: 15px;
}

.article_intro {
    margin-top: 60px;
}

.sectio_icon {
    margin-bottom: 250px;
}

.icon-group {
    margin-top: 20px;
    margin-bottom: 40px;
}



/* MQ */

@media only screen and (min-width:742px) {

    html {background-color:;}
    
    .shown-color{
        margin-right: 5px;
    margin-bottom: 0px;

    }
    
    h1{
    font-weight: 900;
    font-size: 38px;
}

    h2 {
    font-weight: 800;
    font-size: 30px;
}

    h3 {
    font-weight: 900;
    font-size: 24px;  
}

    h4 {
    font-weight: 600;
    font-size: 20px;  
}

    h5 {
    font-weight: 600;
    font-size: 19px;  
}

    h6 {
    font-weight: 600;
    font-size: 18px;  
}

    p {
    font-family: open sans, sans-serif;
    font-weight: 100;
    font-size: 15px;
}
    
}

@media only screen and (min-width:1000px) {
 
    .section-colors{text-align: left;
    margin-bottom: 145px;}
    
    .shown-color {float: left;}
    
    .text-colors {
        display: inline-block;
        width: 39%;
        margin-left: 30px;
    }
    
    .SG-patch {max-width: 37%;}
    
}

/*nav tablet Queries*/

@media only screen and (min-width:480px) {
    
    .nav_links_wapper {
        margin-right: 21%;
    }
}



